.img{
  height:200px;
  margin-left:10px;
}
.product button{
  outline:none;
  border:none;
  height:45px;
  font-size:16px;
  border-radius:10px;
  background-color:#3AD886;
}
.header{
  display:flex;
  align-items:center;
  height:100px;
  background-color:#AB2A19;
}
.screen{
  display:flex;
  width:100vw;
  height:100%;
}
.dash{
  justify-content:center;
  align-items:center;
  display:flex;
  flex-wrap:wrap;
  width:50vw;
  height:75vh;
  padding-top:25px;
}
.dash2{
  display:flex;
  justify-content:center;
  align-items:center;
  width:50vw;
  height:75vh;
}
.product{
  border-radius:10px;
  align-items:center;
  display:flex;
  margin-top:20px;
  height:225px;
  width:600px;
  background-color:#d34735;
  font-size:25px;
}
.info{
  height:200px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  margin-left:20px;
}
.logo{
  margin-left:75px;
  height:50px;
  width:50px;
  background-image: url('./logo.png');
  background-size:cover;
}
.header span{
  color:white;
  font-size:30px;
  margin-left:25px;
  font-weight:500;
}
.box{
  border:solid #AB2A19;
  border-width:1px;
  height: 200px;
  width:300px;
  background-color:white;
}
.buttons button{
  height:50px;
  font-size:16px;
  text-align:center;
  border-radius:10px;
  outline:none;
  border:none;
  background-color:#ed6b5a;
}
.form{
  border-radius:15px;
  padding-left:10px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:flex-end;
  text-align: left;
  font-size:15px;
  height:525px;
  width:400px;
  background-color:#3AD886;
}
.form h1{
  font-size:20px;
  text-align:left;
  font-weight:normal;
  width:380px;;
}
.form h1 input{
  width:360px;
}
.buttons{
  margin-bottom:40px;
  display:flex;
  justify-content:space-around;
  height:30px;
  width:380px;
}
